
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
    text-align: center;
}
.navbar {
    background-color: #a88d43;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-header h1 {
    color: white;
    margin: 0;
}
.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    margin-right: 20px;
}
.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navbar-links li a:hover {
    text-decoration: underline;
}
header {
    background-color: #a88d43;
    color: white;
    padding: 20px 0;
}
h1 {
    margin: 10;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.card {
    perspective: 1000px;
    width: 200px;
    height: 300px;
    color: #000000;
}
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s ease;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.card-front {
    background: #b10000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background: #000000;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
